@import './variables.scss';

.blog {
  padding: 3rem 2rem;
  background-color: #f4f4f4;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 2rem;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 🔹 4 columnas
    gap: 2rem;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .blog-grid {
    grid-template-columns: 1fr;
  }
}
